{:format :kotoba.cljk-origin/v1
 :renamed-on "2026-09-11"
 :decision "adr-2609111500-cljk-rename-all-clojure-source (com-junkawasaki/root 90-docs/adr; owner instruction 2026-09-11)"
 :rule "value = the extension the file had before the rename. A path ending in .clj.cljk or .cljs.cljk kept it in the name because both platform files existed (or the plain target was taken)."
 :origins
 {"run-tests.cljk" ".cljs"
  "src/kotoba/kir.cljk" ".cljc"
  "src/kotoba/kir/admission.cljk" ".cljc"
  "src/kotoba/kir/alpha_normalization.cljk" ".cljc"
  "src/kotoba/kir/cljs_i64.cljk" ".cljs"
  "src/kotoba/kir/compatibility.cljk" ".cljc"
  "src/kotoba/kir/decimal.cljk" ".cljc"
  "src/kotoba/kir/definition_identity.cljk" ".cljc"
  "src/kotoba/kir/descriptor.cljk" ".cljc"
  "src/kotoba/kir/iq_codebook.cljk" ".cljc"
  "src/kotoba/kir/target.cljk" ".cljc"
  "src/kotoba/kir/value.cljk" ".cljc"
  "src/kotoba/kir/xml.cljk" ".cljc"
  "test/kotoba/kir/definition_identity_op_test.cljk" ".clj"
  "test/kotoba/kir/definition_identity_path_edit_test.cljk" ".clj"
  "test/kotoba/kir/definition_identity_schema_test.cljk" ".clj"
  "test/kotoba/kir/document_edn_test.cljk" ".clj"
  "test/kotoba/kir/document_sha256_test.cljk" ".clj"
  "test/kotoba/kir/payload_v3_unwrap_test.cljk" ".clj"
  "test/kotoba/kir/schema_ref_value_test.cljk" ".clj"
  "test/kotoba/kir_admission_let_binding_test.cljk" ".clj"
  "test/kotoba/kir_alpha_normalization_test.cljk" ".cljc"
  "test/kotoba/kir_bit_or_typed_admission_test.cljk" ".clj"
  "test/kotoba/kir_bool_parameter_test.cljk" ".clj"
  "test/kotoba/kir_bytes_operation_test.cljk" ".clj"
  "test/kotoba/kir_cljs_i64_ashr_test.cljk" ".cljs"
  "test/kotoba/kir_closure_param_test.cljk" ".clj"
  "test/kotoba/kir_collection_primitive_test.cljk" ".cljc"
  "test/kotoba/kir_core_form_shape_test.cljk" ".cljc"
  "test/kotoba/kir_definition_identity_test.cljk" ".clj"
  "test/kotoba/kir_dequant_iq_test.cljk" ".cljc"
  "test/kotoba/kir_descriptor_test.cljk" ".cljc"
  "test/kotoba/kir_document_container_index_test.cljk" ".cljc"
  "test/kotoba/kir_document_sha256_test.cljk" ".cljc"
  "test/kotoba/kir_f32_native_admission_test.cljk" ".clj"
  "test/kotoba/kir_f64_boundary_test.cljk" ".cljc"
  "test/kotoba/kir_firmware_store_test.cljk" ".cljc"
  "test/kotoba/kir_fuel64_test.cljk" ".cljc"
  "test/kotoba/kir_guest_task_ops_test.cljk" ".clj"
  "test/kotoba/kir_host_stack_trap_test.cljk" ".cljc"
  "test/kotoba/kir_i64_order_test.cljk" ".cljc"
  "test/kotoba/kir_image_address_test.cljk" ".cljc"
  "test/kotoba/kir_kernel_dequant_dot_test.cljk" ".cljc"
  "test/kotoba/kir_kernel_dot_f32_test.cljk" ".cljc"
  "test/kotoba/kir_kernel_memory_test.cljk" ".cljc"
  "test/kotoba/kir_kernel_privileged_test.cljk" ".cljc"
  "test/kotoba/kir_loop_helper_tail_position_test.cljk" ".cljc"
  "test/kotoba/kir_native_clock_provider_test.cljk" ".clj"
  "test/kotoba/kir_native_dataspace_provider_test.cljk" ".clj"
  "test/kotoba/kir_native_ui_provider_test.cljk" ".clj"
  "test/kotoba/kir_native_variant_boundary_test.cljk" ".clj"
  "test/kotoba/kir_native_vector_boundary_test.cljk" ".clj"
  "test/kotoba/kir_oracle_fuel_budget_test.cljk" ".cljc"
  "test/kotoba/kir_oracle_fuel_test.cljk" ".clj"
  "test/kotoba/kir_rodata_literal_test.cljk" ".cljc"
  "test/kotoba/kir_slice_carrier_test.cljk" ".cljc"
  "test/kotoba/kir_string_index_of_test.cljk" ".cljc"
  "test/kotoba/kir_string_search_admission_test.cljk" ".clj"
  "test/kotoba/kir_string_split_count_test.cljk" ".clj"
  "test/kotoba/kir_string_upper_test.cljk" ".cljc"
  "test/kotoba/kir_test.cljk" ".cljc"
  "test/kotoba/kir_trap_source_test.cljk" ".clj"
  "test/kotoba/kir_typed_list_test.cljk" ".clj"
  "test/kotoba/kir_typed_set_nth_test.cljk" ".clj"
  "test/kotoba/kir_uefi_boundary_test.cljk" ".cljc"
  "test/kotoba/kir_uleb_i64_test.cljk" ".cljc"
  "test/kotoba/kir_value_js_test.cljk" ".cljc"
  "test/kotoba/kir_value_bytes_test.cljk" ".clj"
  "test/kotoba/kir_value_chunk_queue_test.cljk" ".clj"
  "test/kotoba/kir_value_codec_differential_test.cljk" ".clj"
  "test/kotoba/kir_value_progressive_stream_test.cljk" ".clj"
  "test/kotoba/kir_value_resource_table_test.cljk" ".clj"
  "test/kotoba/kir_value_task_fulfill_test.cljk" ".clj"
  "test/kotoba/kir_value_task_stream_test.cljk" ".clj"
  "test/kotoba/kir_zero_charge_loop_test.cljk" ".clj"
  "test/kotoba/test_hir.cljk" ".cljc"
  "test/kotoba/value_test.cljk" ".clj"}}
